.Controlbar {
    display: flex;
    align-items: left;
    justify-content:right;
    flex-direction: row;
    background-color:  rgba(10, 9, 9, 0.7);
    padding: 3px;
}

.AccountButton {
    border-radius: 5px;
    border: 0;
    margin: 5px;
}

.LogoutButton {
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
  
.Link {
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(199, 195, 195);
}

.Link:hover {
    color: rgb(199, 195, 195);
    text-decoration: none;
    background-color: rgba(10, 9, 9, 0.9);
}
  